<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="学生管理系统"/>
    <meta name="keywords" content="学生管理系统"/>
    <meta name="author" content="LANG"/>

    <!--<link href="/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>-->

    <title>学添加学生信息-TA</title>

    <!--mdui css-->
    <link th:href="@{/lib_web/mdui/css/mdui.min.css}" rel="stylesheet">

    <link th:href="@{/css/common.css}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        table tr {
            height: 80px;
        }

        td {
            width: 10%;
            text-align: center;
        }

        p {
            max-width: none;
            min-width: 88px;
        }

        @media (min-width: 992px) {
            .info_p {
                padding: 0 15% 0 15%;
            }
        }
    </style>
</head>
<!--/*@thymesVar id="themeColor" type="java.lang.String"*/-->
<!--/*@thymesVar id="themeColorAccent" type="java.lang.String"*/-->
<body class="mdui-drawer-body-left mdui-appbar-with-toolbar" th:classappend="${themeColor+' '+themeColorAccent}">
<header class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
        <a href="javascript:" class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#left-drawer'}"><i
                class="mdui-icon material-icons">menu</i></a>
        <p>学生管理系统</p>
        <div class="mdui-toolbar-spacer"></div>
        <a href="javascript:window.location.reload();" class="mdui-btn mdui-btn-icon"><i
                class="mdui-icon material-icons">refresh</i></a>
    </div>
</header>

<nav class="mdui-drawer mdui-card" id="left-drawer">
    <div class="mdui-card-media">
        <img th:src="@{/image/card.jpg}"/>
        <div class="mdui-card-media-covered">
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title" sec:authentication="name">舒露</div>
                <div class="mdui-card-primary-subtitle">欢迎</div>
            </div>
        </div>
    </div>
    <ul class="mdui-list mdui-card-content" mdui-collapse="{accordion: true}">
        <li class="mdui-collapse-item mdui-collapse-item-open">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">people</i>
                <div class="mdui-list-item-content">学生信息管理</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <!--/*@thymesVar id="classList" type="java.util.List<top.itning.ta.entity.Clazz>"*/-->
            <div th:each="clazz : ${classList} " class="mdui-collapse-item-body mdui-list mdui-list-dense">
                <a th:id="${clazz.id}" th:href="${'/#/'+clazz.id}" th:text="${clazz.clazz}"
                   class="mdui-list-item mdui-ripple"
                   th:classappend="${classInfo.id==clazz.id?'mdui-list-item-active':''}">1602班</a>
            </div>
        </li>
        <!--/*@thymesVar id="classList" type="java.util.List<top.itning.ta.entity.Clazz>"*/-->
        <li th:if="${classList.size()!=0&&hasStudent}" class="mdui-collapse-item" sec:authorize="hasAnyAuthority('A','B')">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">device_hub</i>
                <div class="mdui-list-item-content">学生请假管理</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list mdui-list-dense">
                <a th:href="@{/studentLeave/show}" class="mdui-list-item mdui-ripple">历史请假信息</a>
                <a th:href="@{/studentLeave/search}" class="mdui-list-item mdui-ripple">查询请假信息</a>
                <a th:href="@{/studentLeave/add}" class="mdui-list-item mdui-ripple">添加请假信息</a>
            </div>
        </li>
        <li class="mdui-list-item mdui-ripple" sec:authorize="hasAuthority('A')">
            <i class="mdui-list-item-icon mdui-icon material-icons">settings</i>
            <a th:href="@{/class/show}" class="mdui-list-item-content">班级管理</a>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">color_lens</i>
            <a th:href="@{/theme}" class="mdui-list-item-content">更换主题</a>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <label class="mdui-switch">
                <input type="checkbox" id="night_mode"/>
                <i class="mdui-switch-icon"></i>
            </label>
            <div class="mdui-list-item-content">夜间模式</div>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">vpn_key</i>
            <a th:href="@{/logout}" class="mdui-list-item-content">注销登陆</a>
        </li>
    </ul>
</nav>
<section class="mdui-container mdui-m-t-2">
    <div class="mdui-card info_p">
        <div class="mdui-card-content">
            <div><h1 class="mdui-text-center">新增学生信息</h1></div>
            <div class="mdui-table-fluid">
                <form th:action="@{/studentInfo/add}" id="add_form" method="post" enctype="multipart/form-data">
                    <table border=1 cellspacing=0 cellpadding=0 width=523
                           style='width:100%'>
                        <tr>
                            <td width=66 style='width:49.5pt;height:20.55pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><span style='font-size:9.0pt'>学号：</span></p>
                            </td>
                            <td width=102 style='width:76.65pt;height:20.55pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><input name="id" class="mdui-textfield-input"
                                                                                 type="number" maxlength="15"
                                                                                 required="required"/></p>
                            </td>
                            <td width=65 style='width:49.0pt;height:20.55pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><span style='font-size:9.0pt'>姓名：</span></p>
                            </td>
                            <td width=169 style='width:126.7pt;height:20.55pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><input name="name"
                                                                                 class="mdui-textfield-input"
                                                                                 type="text" maxlength="10"
                                                                                 required="required"/>
                                </p>
                            </td>
                            <td width=121 rowspan=3 style='width:90.55pt;height:20.55pt;'
                                class="mdui-p-a-0">
                                <img id="show_img" src="" alt="" style="z-index: 1">
                                <label class="mdui-btn mdui-ripple mdui-color-theme-accent" for="xFile"><span
                                        id="file_name"></span>上传头像</label>
                                <input type="file" name="file" id="xFile" onchange="changImg(event)"
                                       style="position:absolute;clip:rect(0 0 0 0);"
                                       accept="image/*">
                            </td>
                        </tr>
                        <tr>
                            <td width=66 style='width:49.5pt;height:20.8pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><span style='font-size:9.0pt'>出生日期：</span></p>
                            </td>
                            <td width=102 style='width:76.65pt;height:20.8pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><input readonly="readonly"
                                                                                 onfocus="WdatePicker({skin:'twoer',dateFmt:'yyyy年MM月dd日',maxDate:'%y-%M-%d',vel:'birthday'})"
                                                                                 class="mdui-textfield-input"
                                                                                 type="text" required="required"/><input
                                        id="birthday"
                                        name="birthday"
                                        type="text"
                                        class="mdui-hidden" required="required">
                                </p>
                            </td>
                            <td width=65 style='width:49.0pt;height:20.8pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><span style='font-size:9.0pt'>班主任：</span></p>
                            </td>
                            <td width=169 style='width:126.7pt;height:20.8pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><input name="teacher"
                                                                                 class="mdui-textfield-input"
                                                                                 type="text" maxlength="10"
                                                                                 required="required"/></p>
                            </td>
                        </tr>
                        <tr>
                            <td width=66 style='width:49.5pt;height:21.15pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><span style='font-size:9.0pt'>性别：</span></p>
                            </td>
                            <td width=102 style='width:76.65pt;height:21.15pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><label class="mdui-radio">
                                    <input value="1" type="radio" name="sex" checked/>
                                    <i class="mdui-radio-icon"></i>男
                                </label>
                                    <label class="mdui-radio">
                                        <input value="0" type="radio" name="sex"/>
                                        <i class="mdui-radio-icon"></i>女
                                    </label>
                                </p>
                            </td>
                            <td width=65 style='width:49.0pt;height:21.15pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><span style='font-size:9.0pt'>班级：</span></p>
                            </td>
                            <td width=169 style='width:126.7pt;height:21.15pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'>
                                    <!--/*@thymesVar id="classInfo" type="top.itning.ta.entity.Clazz"*/-->
                                    <input th:value="${classInfo.clazz}"
                                           class="mdui-textfield-input"
                                           type="text" maxlength="10"
                                           disabled="disabled"/>
                                    <input type="hidden" name="clazz" th:value="${classInfo.id}"></p>
                            </td>
                        </tr>
                        <tr>
                            <td width=66 style='width:49.5pt;height:21.45pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><span style='font-size:9.0pt'>所属学院：</span></p>
                            </td>
                            <td width=102 style='width:76.65pt;height:21.45pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><input name="college"
                                                                                 class="mdui-textfield-input"
                                                                                 type="text" maxlength="10"
                                                                                 required="required"/></p>
                            </td>
                            <td width=65 style='width:49.0pt;height:21.45pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><span style='font-size:9.0pt'>联系电话：</span></p>
                            </td>
                            <td colspan="2" width=169 style='width:126.7pt;height:21.45pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><input name="tel" class="mdui-textfield-input"
                                                                                 type="number" maxlength="11"
                                                                                 required="required"/></p>
                            </td>
                        </tr>
                        <tr>
                            <td width=66 style='width:49.5pt;height:21.0pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><span style='font-size:9.0pt'>所属专业：</span></p>
                            </td>
                            <td width=102 style='width:76.65pt;height:21.0pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><input name="profession"
                                                                                 class="mdui-textfield-input"
                                                                                 type="text" maxlength="10"
                                                                                 required="required"/></p>
                            </td>
                            <td width=65 style='width:49.0pt;height:21.0pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><span style='font-size:9.0pt'>家长电话：</span></p>
                            </td>
                            <td colspan="2" width=169 style='width:126.7pt;height:21.0pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><input name="htel"
                                                                                 class="mdui-textfield-input"
                                                                                 type="number" maxlength="11"
                                                                                 required="required"/></p>
                            </td>
                        </tr>
                        <tr>
                            <td width=66 style='width:49.5pt;height:20.55pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><span style='font-size:9.0pt'>入学时间：</span></p>
                            </td>
                            <td width=102 style='width:76.65pt;height:20.55pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><input readonly="readonly"
                                                                                 class="mdui-textfield-input"
                                                                                 type="text" maxlength="10"
                                                                                 onfocus="WdatePicker({skin:'twoer',dateFmt:'yyyy年MM月',vel:'indate'})"
                                                                                 required="required"/><input
                                        id="indate" name="intime" type="text" class="mdui-hidden" required="required"/>
                                </p>
                            </td>
                            <td width=65 style='width:49.0pt;height:20.55pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><span style='font-size:9.0pt'>是否在籍：</span></p>
                            </td>
                            <td width=290 colspan=2 style='width:217.25pt;height:20.55pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><label class="mdui-switch">
                                    <input name="isin" type="checkbox" checked/>
                                    <i class="mdui-switch-icon"></i>
                                </label>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width=66 style='width:49.5pt;height:20.6pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><span style='font-size:9.0pt'>班内职务：</span></p>
                            </td>
                            <td width=336 colspan=4 style='width:252.35pt;height:20.6pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><input name="position"
                                                                                 class="mdui-textfield-input"
                                                                                 type="text" maxlength="10"/></p>
                            </td>
                        </tr>
                        <tr>
                            <td width=66 style='width:49.5pt;height:23.6pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><span style='font-size:9.0pt'>家庭地址：</span></p>
                            </td>
                            <td width=457 colspan=4 style='width:342.9pt;height:23.6pt' class="mdui-p-a-0">
                                <p align=center style='text-align:center'><input name="address"
                                                                                 class="mdui-textfield-input"
                                                                                 type="text" maxlength="40"
                                                                                 required="required"/>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width=66 style='width:49.5pt;height:23.6pt' class="mdui-p-a-0">
                                <p><span style='font-size:9.0pt'>备注：</span></p>
                            </td>
                            <td width=457 colspan=4 style='width:342.9pt;height:23.6pt' class="mdui-p-a-0">
                                <p><input name="remarks" class="mdui-textfield-input" type="text" maxlength="40"/>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <input type="submit" class="mdui-fab mdui-fab-fixed mdui-ripple mdui-color-theme-accent" value="提交"
                           style="font-size: 15px;">
                </form>
            </div>
        </div>
    </div>
</section>
<script th:src="@{/lib_web/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/lib_web/mdui/js/mdui.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/lib_web/datepicker/WdatePicker.js}"></script>
<script>
    'use strict';
    $(function () {

    });

    /*图片回显*/
    function changImg(e) {
        for (var i = 0; i < e.target.files.length; i++) {
            var file = e.target.files.item(i);
            if (!(/^image\/.*$/i.test(file.type))) {
                continue; //不是图片 就跳出这一次循环
            }
            //实例化FileReader API
            var freader = new FileReader();
            freader.readAsDataURL(file);
            freader.onload = function (e) {
                $("#show_img").attr("src", e.target.result);
            }
        }
    }
</script>
</body>
</html>