<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="学生管理系统"/>
    <meta name="keywords" content="学生管理系统"/>
    <meta name="author" content="LANG"/>

    <!--<link href="/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>-->

    <title>主题设置-TA</title>

    <!--mdui css-->
    <link th:href="@{/lib_web/mdui/css/mdui.min.css}" rel="stylesheet">

    <link th:href="@{/css/common.css}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!--/*@thymesVar id="themeColor" type="java.lang.String"*/-->
<!--/*@thymesVar id="themeColorAccent" type="java.lang.String"*/-->
<body class="mdui-drawer-body-left mdui-appbar-with-toolbar" th:classappend="${themeColor+' '+themeColorAccent}">
<header class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
        <a href="javascript:" class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#left-drawer'}"><i
                class="mdui-icon material-icons">menu</i></a>
        <p>学生管理系统</p>
        <div class="mdui-toolbar-spacer"></div>
        <a href="javascript:window.location.reload();" class="mdui-btn mdui-btn-icon"><i
                class="mdui-icon material-icons">refresh</i></a>
    </div>
</header>

<nav class="mdui-drawer mdui-card" id="left-drawer">
    <div class="mdui-card-media">
        <img th:src="@{/image/card.jpg}"/>
        <div class="mdui-card-media-covered">
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title" sec:authentication="name">舒露</div>
                <div class="mdui-card-primary-subtitle">欢迎</div>
            </div>
        </div>
    </div>
    <ul class="mdui-list mdui-card-content" mdui-collapse="{accordion: true}">
        <!--/*@thymesVar id="classList" type="java.util.List<top.itning.ta.entity.Clazz>"*/-->
        <li th:if="${classList.size()!=0}" class="mdui-collapse-item mdui-collapse-item-open">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">people</i>
                <div class="mdui-list-item-content">学生信息管理</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <!--/*@thymesVar id="classList" type="java.util.List<top.itning.ta.entity.Clazz>"*/-->
            <div th:each="clazz : ${classList} " class="mdui-collapse-item-body mdui-list mdui-list-dense">
                <!--/*@thymesVar id="clazz" type="top.itning.ta.entity.Clazz"*/-->
                <!--/*@thymesVar id="id" type="java.lang.String"*/-->
                <a th:id="${clazz.id}" th:href="${'/#/'+clazz.id}" th:text="${clazz.clazz}"
                   class="mdui-list-item mdui-ripple">1602班</a>
            </div>
        </li>

        <li th:if="${classList.size()!=0}" class="mdui-collapse-item" sec:authorize="hasAnyAuthority('A','B')">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">device_hub</i>
                <div class="mdui-list-item-content">学生请假管理</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <div class="mdui-collapse-item-body mdui-list mdui-list-dense">
                <!--/*@thymesVar id="studentLeaveNum" type="java.lang.Long"*/-->
                <a th:if="${studentLeaveNum!=0}" th:href="@{/studentLeave/show}" class="mdui-list-item mdui-ripple">历史请假信息</a>
                <a th:if="${studentLeaveNum!=0}" th:href="@{/studentLeave/search}" class="mdui-list-item mdui-ripple">查询请假信息</a>
                <a th:href="@{/studentLeave/add}" class="mdui-list-item mdui-ripple">添加请假信息</a>
            </div>
        </li>
        <li class="mdui-list-item mdui-ripple" sec:authorize="hasAuthority('A')">
            <i class="mdui-list-item-icon mdui-icon material-icons">settings</i>
            <a th:href="@{/class/show}" class="mdui-list-item-content">班级管理</a>
        </li>
        <li class="mdui-list-item mdui-ripple mdui-list-item-active">
            <i class="mdui-list-item-icon mdui-icon material-icons">color_lens</i>
            <a th:href="@{/theme}" class="mdui-list-item-content">更换主题</a>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <label class="mdui-switch">
                <input type="checkbox" id="night_mode"/>
                <i class="mdui-switch-icon"></i>
            </label>
            <div class="mdui-list-item-content">夜间模式</div>
        </li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">vpn_key</i>
            <a th:href="@{/logout}" class="mdui-list-item-content">注销登陆</a>
        </li>
    </ul>
</nav>
<section class="mdui-container">
    <div class="mdui-card">
        <div class="mdui-card-content mdui-p-a-5">
            <h1>主题设置</h1>
            <div class="mdui-divider"></div>
            <div class="mdui-float-left mdui-btn-block">
                <div class="mdui-float-left mdui-typo-body-1">主色设置</div>
                <div class="mdui-float-right"><select id="primary_color">
                    <option style="background-color: #F44336" value="red">红色</option>
                    <option style="background-color: #E91E63" value="pink">粉色</option>
                    <option style="background-color: #9C27B0" value="purple">紫色</option>
                    <option style="background-color: #673AB7" value="deep-purple">深紫色</option>
                    <option style="background-color: #3F51B5" value="indigo">靛青</option>
                    <option style="background-color: #2196F3" value="blue">蓝色</option>
                    <option style="background-color: #03A9F4" value="light-blue">浅蓝色</option>
                    <option style="background-color: #00BCD4" value="cyan">青色</option>
                    <option style="background-color: #009688" value="teal">深青色</option>
                    <option style="background-color: #4CAF50" value="green">绿色</option>
                    <option style="background-color: #8BC34A" value="light-green">浅绿色</option>
                    <option style="background-color: #CDDC39" value="lime">青柠</option>
                    <option style="background-color: #FFEB3B" value="yellow">黄色</option>
                    <option style="background-color: #FFC107" value="amber">琥珀色</option>
                    <option style="background-color: #FF9800" value="orange">橙色</option>
                    <option style="background-color: #FF5722" value="deep-orange">深橙色</option>
                </select></div>
            </div>
            <div class="mdui-float-left mdui-btn-block">
                <div class="mdui-float-left mdui-typo-body-1">强调色设置</div>
                <div class="mdui-float-right"><select id="accent_color">
                    <option style="background-color: #FF5252" value="red">红色</option>
                    <option style="background-color: #FF4081" value="pink">粉色</option>
                    <option style="background-color: #E040FB" value="purple">紫色</option>
                    <option style="background-color: #7C4DFF" value="deep-purple">深紫色</option>
                    <option style="background-color: #536DFE" value="indigo">靛青</option>
                    <option style="background-color: #448AFF" value="blue">蓝色</option>
                    <option style="background-color: #40C4FF" value="light-blue">浅蓝色</option>
                    <option style="background-color: #18FFFF" value="cyan">青色</option>
                    <option style="background-color: #64FFDA" value="teal">深青色</option>
                    <option style="background-color: #69F0AE" value="green">绿色</option>
                    <option style="background-color: #B2FF59" value="light-green">浅绿色</option>
                    <option style="background-color: #EEFF41" value="lime">青柠</option>
                    <option style="background-color: #FFFF00" value="yellow">黄色</option>
                    <option style="background-color: #FFD740" value="amber">琥珀色</option>
                    <option style="background-color: #FFAB40" value="orange">橙色</option>
                    <option style="background-color: #FF6E40" value="deep-orange">深橙色</option>
                </select></div>
            </div>
            <button id="theme_color_id" class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme">主色</button>
            <button id="theme_color_accent_id" class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent">
                强调色
            </button>
            <button onclick="submitSetting()"
                    class="mdui-m-t-5 mdui-btn mdui-btn-raised mdui-ripple mdui-btn-block mdui-color-theme-accent">
                保存修改
            </button>
        </div>
        <div style="padding-bottom: 500px"></div>
    </div>
</section>
<script th:src="@{/lib_web/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/lib_web/mdui/js/mdui.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:inline="javascript">
    'use strict';
    var themeColor = [[${themeColor}]];
    var themeColorAccent = [[${themeColorAccent}]];
    $(function () {
        var $primaryColor = $('#primary_color');
        var $accentColor = $('#accent_color');
        $primaryColor.val(themeColor.substring(themeColor.lastIndexOf("-") + 1));
        $accentColor.val(themeColorAccent.substring(themeColorAccent.lastIndexOf("-") + 1));
        var last_primary_color = "";
        $primaryColor.change(function () {
            var val = $(this).val();
            var $themeColorId = $('#theme_color_id');
            if (last_primary_color === "") {
                $themeColorId.removeClass('mdui-color-theme');
            } else {
                $themeColorId.removeClass('mdui-color-' + last_primary_color);
            }
            last_primary_color = val;
            $themeColorId.addClass('mdui-color-' + val);

        });
        var last_accent_color = "";
        $accentColor.change(function () {
            var val = $(this).val();
            var $themeColorAccentId = $('#theme_color_accent_id');
            if (last_accent_color === "") {
                $themeColorAccentId.removeClass('mdui-color-theme-accent');
            } else {
                $themeColorAccentId.removeClass('mdui-color-' + last_accent_color);
            }
            last_accent_color = val;
            $themeColorAccentId.addClass('mdui-color-' + val);
        });
    });

    /*设置颜色*/
    function submitSetting() {
        var primaryColor = $('#primary_color').val();
        var accentColor = $('#accent_color').val();
        if (primaryColor !== (themeColor.substring(themeColor.lastIndexOf("-") + 1)) || accentColor !== (themeColorAccent.substring(themeColorAccent.lastIndexOf("-") + 1))) {
            $.get("/theme/set?primaryColor=" + primaryColor + "&accentColor=" + accentColor, function (data) {
                if (data.code === 200) {
                    window.location.reload();
                } else {
                    mdui.snackbar({
                        message: data.msg
                    });
                }
            });
        }
    }
</script>
</body>
</html>